<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>servletUser</servlet-name>
  	<display-name>servletUser</display-name>
  	<description></description>
  	<servlet-class>com.lilJade.control.servletUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletHistorial</servlet-name>
  	<display-name>servletHistorial</display-name>
  	<description></description>
  	<servlet-class>com.lilJade.control.servletHistorial</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletUser</servlet-name>
  	<url-pattern>/servletUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletHistorial</servlet-name>
  	<url-pattern>/servletHistorial</url-pattern>
  </servlet-mapping>
</web-app>
